<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>ECSHOP Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{$smarty.const.ADMIN_CSS_URL}/general.css" rel="stylesheet" type="text/css">
<script language="JavaScript">
<!--
var noHelp   = "<p align='center' style='color: #666'>暂时还没有该部分内容</p>";
var helpLang = "zh_cn";
//-->
</script>

<style type="text/css">
body {
  background: #80BDCB;
}
#tabbar-div {
  background: #278296;
  padding-left: 10px;
  height: 21px;
  padding-top: 0px;
}
#tabbar-div p {
  margin: 1px 0 0 0;
}
.tab-front {
  background: #80BDCB;
  line-height: 20px;
  font-weight: bold;
  padding: 4px 15px 4px 18px;
  border-right: 2px solid #335b64;
  cursor: hand;
  cursor: pointer;
}
.tab-back {
  color: #F4FAFB;
  line-height: 20px;
  padding: 4px 15px 4px 18px;
  cursor: hand;
  cursor: pointer;
}
.tab-hover {
  color: #F4FAFB;
  line-height: 20px;
  padding: 4px 15px 4px 18px;
  cursor: hand;
  cursor: pointer;
  background: #2F9DB5;
}
#top-div
{
  padding: 3px 0 2px;
  background: #BBDDE5;
  margin: 5px;
  text-align: center;
}
#main-div {
  border: 1px solid #345C65;
  padding: 5px;
  margin: 5px;
  background: #FFF;
}
#menu-list {
  padding: 0;
  margin: 0;
}
#menu-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #335B64;
}
#menu-list li {
  padding-left: 16px;
  line-height: 16px;
  cursor: hand;
  cursor: pointer;
}
#main-div a:visited, #menu-list a:link, #menu-list a:hover {
  color: #335B64
  text-decoration: none;
}
#menu-list a:active {
  color: #EB8A3D;
}
.explode {
  background: url({$smarty.const.ADMIN_IMAGES_URL}/menu_minus.gif) no-repeat 0px 3px;
  font-weight: bold;
}
.collapse {
  background: url({$smarty.const.ADMIN_IMAGES_URL}/menu_plus.gif) no-repeat 0px 3px;
  font-weight: bold;
}
.menu-item {
  background: url({$smarty.const.ADMIN_IMAGES_URL}/menu_arrow.gif) no-repeat 0px 3px;
  font-weight: normal;
}
#help-title {
  font-size: 14px;
  color: #000080;
  margin: 5px 0;
  padding: 0px;
}
#help-content {
  margin: 0;
  padding: 0;
}
.tips {
  color: #CC0000;
}
.link {
  color: #000099;
}
</style>

</head>
<body style="cursor: auto;">
<div id="tabbar-div">
<p><span style="float:right; padding: 3px 5px;"><a href="javascript:toggleCollapse();"><img id="toggleImg" src="{$smarty.const.ADMIN_IMAGES_URL}/menu_minus.gif" width="9" height="9" border="0" alt="闭合"></a></span>
  <span class="tab-front" id="menu-tab">菜单</span>
</p>
</div>
<div id="main-div">
<div id="menu-list">
<ul id="menu-ul">
  <li class="explode" key="02_cat_and_goods" name="menu">
    商品管理        <ul style="display: block;">
          <li class="menu-item"><a href="{$smarty.const.__MODULE__}/Goods/goodslist" target="main-frame">商品列表</a></li>
          <li class="menu-item"><a href="{$smarty.const.__MODULE__}/Goods/goodsadd" target="main-frame">添加新商品</a></li>
          <li class="menu-item"><a href="{$smarty.const.__MODULE__}/Cat/catlist" target="main-frame">商品分类</a></li>
        </ul>
      </li>
  <li class="explode" key="04_order" name="menu">
    订单管理        <ul>
          <li class="menu-item"><a href="order.php?act=list" target="main-frame">订单列表</a></li>
        </ul>
      </li>
  <li class="explode" key="08_members" name="menu">
    会员管理        <ul>
          <li class="menu-item"><a href="users.php?act=list" target="main-frame">会员列表</a></li>
        </ul>
      </li>         
  <li class="explode" key="10_priv_admin" name="menu">
    权限管理        <ul>
          <li class="menu-item"><a href="privilege.php?act=list" target="main-frame">管理员列表</a></li>
          <li class="menu-item"><a href="admin_logs.php?act=list" target="main-frame">管理员日志</a></li>
          <li class="menu-item"><a href="role.php?act=list" target="main-frame">角色管理</a></li>
          <li class="menu-item"><a href="agency.php?act=list" target="main-frame">办事处列表</a></li>
          <li class="menu-item"><a href="suppliers.php?act=list" target="main-frame">供货商列表</a></li>
        </ul>
      </li>
  <li class="explode" key="11_system" name="menu">
    系统设置        <ul>
          <li class="menu-item"><a href="shop_config.php?act=list_edit" target="main-frame">商店设置</a></li>
          <li class="menu-item"><a href="reg_fields.php?act=list" target="main-frame">会员注册项设置</a></li>
          <li class="menu-item"><a href="payment.php?act=list" target="main-frame">支付方式</a></li>
          <li class="menu-item"><a href="shipping.php?act=list" target="main-frame">配送方式</a></li>
          <li class="menu-item"><a href="shop_config.php?act=mail_settings" target="main-frame">邮件服务器设置</a></li>
          <li class="menu-item"><a href="area_manage.php?act=list" target="main-frame">地区列表</a></li>
          <li class="menu-item"><a href="cron.php?act=list" target="main-frame">计划任务</a></li>
          <li class="menu-item"><a href="friend_link.php?act=list" target="main-frame">友情链接</a></li>
          <li class="menu-item"><a href="captcha_manage.php?act=main" target="main-frame">验证码管理</a></li>
          <li class="menu-item"><a href="check_file_priv.php?act=check" target="main-frame">文件权限检测</a></li>
          <li class="menu-item"><a href="filecheck.php" target="main-frame">文件校验</a></li>
          <li class="menu-item"><a href="flashplay.php?act=list" target="main-frame">首页主广告管理</a></li>
          <li class="menu-item"><a href="navigator.php?act=list" target="main-frame">自定义导航栏</a></li>
          <li class="menu-item"><a href="license.php?act=list_edit" target="main-frame">授权证书</a></li>
          <li class="menu-item"><a href="sitemap.php" target="main-frame">站点地图</a></li>
        </ul>
      </li>
  <li class="explode" key="12_template" name="menu">
    模板管理        <ul>
          <li class="menu-item"><a href="template.php?act=list" target="main-frame">模板选择</a></li>
          <li class="menu-item"><a href="template.php?act=setup" target="main-frame">设置模板</a></li>
          <li class="menu-item"><a href="template.php?act=library" target="main-frame">库项目管理</a></li>
          <li class="menu-item"><a href="edit_languages.php?act=list" target="main-frame">语言项编辑</a></li>
          <li class="menu-item"><a href="template.php?act=backup_setting" target="main-frame">模板设置备份</a></li>
          <li class="menu-item"><a href="mail_template.php?act=list" target="main-frame">邮件模板</a></li>
        </ul>
      </li>
  <li class="explode" key="13_backup" name="menu">
    数据库管理        <ul>
          <li class="menu-item"><a href="database.php?act=backup" target="main-frame">数据备份</a></li>
          <li class="menu-item"><a href="database.php?act=optimize" target="main-frame">数据表优化</a></li>
          <li class="menu-item"><a href="sql.php?act=main" target="main-frame">SQL查询</a></li>
          <li class="menu-item"><a href="convert.php?act=main" target="main-frame">转换数据</a></li>
        </ul>
      </li>
  <li class="explode" key="14_sms" name="menu">
    短信管理        <ul>
          <li class="menu-item"><a href="sms.php?act=display_send_ui" target="main-frame">发送短信</a></li>
          <li class="menu-item"><a href="sms.php?act=sms_sign" target="main-frame">短信签名</a></li>
        </ul>
      </li>
  <li class="explode" key="15_rec" name="menu">
    推荐管理        <ul>
          <li class="menu-item"><a href="affiliate.php?act=list" target="main-frame">推荐设置</a></li>
          <li class="menu-item"><a href="affiliate_ck.php?act=list" target="main-frame">分成管理</a></li>
        </ul>
      </li>
  <li class="explode" key="16_email_manage" name="menu">
    邮件群发管理        <ul>
          <li class="menu-item"><a href="attention_list.php?act=list" target="main-frame">关注管理</a></li>
          <li class="menu-item"><a href="email_list.php?act=list" target="main-frame">邮件订阅管理</a></li>
          <li class="menu-item"><a href="magazine_list.php?act=list" target="main-frame">杂志管理</a></li>
          <li class="menu-item"><a href="view_sendlist.php?act=list" target="main-frame">邮件队列管理</a></li>
        </ul>
      </li>
  <script language="JavaScript" src="http://api.ecshop.com/menu_ext.php?charset=utf-8&amp;lang=zh_cn"></script>
</ul>
</div>
<div id="help-div" style="display:none">
<h1 id="help-title"></h1>
<div id="help-content"></div>
</div>
</div>
<script type="text/javascript" src="Public/Admin/js/js/utils.js"></script><script type="text/javascript" src="Public/Admin/js/js/transport.js"></script><script type="text/javascript" src="Public/Admin/js/menu.js"></script><script language="JavaScript">
<!--
var collapse_all = "闭合";
var expand_all = "展开";
var collapse = true;

function toggleCollapse()
{
  var items = document.getElementsByTagName('LI');
  for (i = 0; i < items.length; i++)
  {
    if (collapse)
    {
      if (items[i].className == "explode")
      {
        toggleCollapseExpand(items[i], "collapse");
      }
    }
    else
    {
      if ( items[i].className == "collapse")
      {
        toggleCollapseExpand(items[i], "explode");
        ToggleHanlder.Reset();
      }
    }
  }

  collapse = !collapse;
  document.getElementById('toggleImg').src = collapse ? '{$smarty.const.ADMIN_IMAGES_URL}/menu_minus.gif' : '{$smarty.const.ADMIN_IMAGES_URL}/menu_plus.gif';
  document.getElementById('toggleImg').alt = collapse ? collapse_all : expand_all;
}

function toggleCollapseExpand(obj, status)
{
  if (obj.tagName.toLowerCase() == 'li' && obj.className != 'menu-item')
  {
    for (i = 0; i < obj.childNodes.length; i++)
    {
      if (obj.childNodes[i].tagName == "UL")
      {
        if (status == null)
        {
          if (obj.childNodes[1].style.display != "none")
          {
            obj.childNodes[1].style.display = "none";
            ToggleHanlder.RecordState(obj.getAttribute("key"), "collapse");
            obj.className = "collapse";
          }
          else
          {
            obj.childNodes[1].style.display = "block";
            ToggleHanlder.RecordState(obj.getAttribute("key"), "explode");
            obj.className = "explode";
          }
          break;
        }
        else
        {
          if( status == "collapse")
          {
            ToggleHanlder.RecordState(obj.getAttribute("key"), "collapse");
            obj.className = "collapse";
          }
          else
          {
            ToggleHanlder.RecordState(obj.getAttribute("key"), "explode");
            obj.className = "explode";
          }
          obj.childNodes[1].style.display = (status == "explode") ? "block" : "none";
        }
      }
    }
  }
}
document.getElementById('menu-list').onclick = function(e)
{
  var obj = Utils.srcElement(e);
  toggleCollapseExpand(obj);
}

document.getElementById('tabbar-div').onmouseover=function(e)
{
  var obj = Utils.srcElement(e);

  if (obj.className == "tab-back")
  {
    obj.className = "tab-hover";
  }
}

document.getElementById('tabbar-div').onmouseout=function(e)
{
  var obj = Utils.srcElement(e);

  if (obj.className == "tab-hover")
  {
    obj.className = "tab-back";
  }
}

document.getElementById('tabbar-div').onclick=function(e)
{
  var obj = Utils.srcElement(e);

 // var mnuTab = document.getElementById('menu-tab');
  var hlpTab = document.getElementById('help-tab');
  var mnuDiv = document.getElementById('menu-list');
  var hlpDiv = document.getElementById('help-div');

  //if (obj.id == 'menu-tab')
//  {
//    mnuTab.className = 'tab-front';
//    hlpTab.className = 'tab-back';
//    mnuDiv.style.display = "block";
//    hlpDiv.style.display = "none";
//  }

  if (obj.id == 'help-tab')
  {
    mnuTab.className = 'tab-back';
    hlpTab.className = 'tab-front';
    mnuDiv.style.display = "none";
    hlpDiv.style.display = "block";

    loc = parent.frames['main-frame'].location.href;
    pos1 = loc.lastIndexOf("/");
    pos2 = loc.lastIndexOf("?");
    pos3 = loc.indexOf("act=");
    pos4 = loc.indexOf("&", pos3);

    filename = loc.substring(pos1 + 1, pos2 - 4);
    act = pos4 < 0 ? loc.substring(pos3 + 4) : loc.substring(pos3 + 4, pos4);
    loadHelp(filename, act);
  }
}

/**
 * 创建XML对象
 */
function createDocument()
{
  var xmlDoc;

  // create a DOM object
  if (window.ActiveXObject)
  {
    try
    {
      xmlDoc = new ActiveXObject("Msxml2.DOMDocument.6.0");
    }
    catch (e)
    {
      try
      {
        xmlDoc = new ActiveXObject("Msxml2.DOMDocument.5.0");
      }
      catch (e)
      {
        try
        {
          xmlDoc = new ActiveXObject("Msxml2.DOMDocument.4.0");
        }
        catch (e)
        {
          try
          {
            xmlDoc = new ActiveXObject("Msxml2.DOMDocument.3.0");
          }
          catch (e)
          {
            alert(e.message);
          }
        }
      }
    }
  }
  else
  {
    if (document.implementation && document.implementation.createDocument)
    {
      xmlDoc = document.implementation.createDocument("","doc",null);
    }
    else
    {
      alert("Create XML object is failed.");
    }
  }
  xmlDoc.async = false;

  return xmlDoc;
}

//菜单展合状态处理器
var ToggleHanlder = new Object();

Object.extend(ToggleHanlder ,{
  SourceObject : new Object(),
  CookieName   : 'Toggle_State',
  RecordState : function(name,state)
  {
    if(state == "collapse")
    {
      this.SourceObject[name] = state;
    }
    else
    {
      if(this.SourceObject[name])
      {
        delete(this.SourceObject[name]);
      }
    }
    var date = new Date();
    date.setTime(date.getTime() + 99999999);
    document.setCookie(this.CookieName, this.SourceObject.toJSONString(), date.toGMTString());
  },

  Reset :function()
  {
    var date = new Date();
    date.setTime(date.getTime() + 99999999);
    document.setCookie(this.CookieName, "{}" , date.toGMTString());
  },

  Load : function()
  {
    if (document.getCookie(this.CookieName) != null)
    {
      this.SourceObject = t_eval ();
      var items = document.getElementsByTagName('LI');
      for (var i = 0; i < items.length; i++)
      {
        if ( items[0].getAttribute("name") == "menu" && items[0].getAttribute("id") != '20_yun')
        {
          for (var k in this.SourceObject)
          {
            if ( typeof(items[i]) == "object")
            {
              if (items[i].getAttribute('key') == k)
              {
                toggleCollapseExpand(items[i], this.SourceObject[k]);
                collapse = false;
              }
            }
          }
        }
     }
    }
    document.getElementById('toggleImg').src = collapse ? '{$smarty.const.ADMIN_IMAGES_URL}/menu_minus.gif' : '{$smarty.const.ADMIN_IMAGES_URL}/menu_plus.gif';
    document.getElementById('toggleImg').alt = collapse ? collapse_all : expand_all;
  }
});

ToggleHanlder.CookieName += "_1";
//初始化菜单状态
ToggleHanlder.Load();
Ajax.call('cloud.php?is_ajax=1&act=menu_api','', start_menu_api, 'GET', 'JSON');
function start_menu_api(result)
{
      if(result.content==0)
      {
      }
      else
      {
          document.getElementById("menu-ul").innerHTML = document.getElementById("menu-ul").innerHTML + result.content;
      }   
}
//-->
</script>


</body></html>